<body>
  <div class="wrapper" style="background-image: url('assets/Login/reg.jpg')">
    <div class="inner">
      <div class="image-holder">
        <img src="assets/Login/reg1.jpg" alt="" />
      </div>
      <form action="">
        <h3>Login Form</h3>
        
       
        <div class="form-wrapper">
            <input type="text" placeholder="Username" class="form-control" />
            <i class="zmdi zmdi-account"></i>
        </div>
        <div class="form-wrapper">
          <input type="password" placeholder="Password" class="form-control" />
          <i class="zmdi zmdi-lock"></i>
        </div>

        <button>
          Login
          <i class="zmdi zmdi-arrow-right"></i>
        </button>
        <h6>Don't have an account? <a class="sign" href="/Sign" routerLinkActive="active" ariaCurrentWhenActive="page"> Register Here</a></h6>
      </form>
 
    </div> 
  </div>
</body>

